<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>HanjaGetter</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Noto+Sans+SC:wght@100..900&display=swap" rel="stylesheet">
        <link href="https://free.bboxtype.com/embedfonts/?family=FFF_tuoi_tre:700,900" rel="stylesheet">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <link rel="icon" type="image/x-icon" href="static/images/hanja.svg">
        <script src="static/js/script.js"></script>

    </head>
    <body>
        <div class="language-selector">
            <form method="POST" action="/set_language">
                <select name="language" onchange="this.form.submit()">
                    <option value="fr" {% if language == 'fr' %}selected{% endif %}>Français</option>
                    <option value="en" {% if language == 'en' %}selected{% endif %}>English</option>
                </select>
            </form>
        </div>
        <a href="/" class="title-link">
        <div class="container">
            <div class="header-title">
                <div class="언어의">언어의</div>
                <div class="뿌리">뿌리</div>
                <div class="HanjaGetter">
                    <div class="Hanja">
                        <span class="font1">Hanja</span>
                        <span class="font2">Hanja</span><br>
                    </div>
                    <div class="Getter">
                        <span class="font1">Getter</span>
                        <span class="font2">Getter</span>
                    </div>
                </div>
            </div>
        </a>
            <div class ="search-container">
                {% if language == 'en' %}
                    <h1>Look Up Hanja for Your Korean Word.</h1>
                    <form action="/search" method="POST" class="search-bar">
                        <input type="text" name="word" placeholder="Enter a Korean word" required>
                        <button type="submit">Search</button>
                    </form>
                {% else %}
                    <h1>Entrez un mot pour trouver les caractères Hanja associés</h1>
                    <form action="/search" method="POST" class="search-bar">
                        <input type="text" name="word" placeholder="Entrez un mot en coréen" required>
                        <button type="submit">Rechercher</button>
                    </form>
                {% endif %}

                {% if hanja_results %}
                    {% include 'results.html' %}
                {% else %}
                    {% if korean_results %}
                        {% include 'results_korean.html' %}
                    {% else %}
                        {% if is_homepage %}
                        <div class="home-page">
                            {% if language == 'en' %}
                                <h2>Welcome to <span class="site-name">HanjaGetter</span>!</h2>
                                <p>My goal is to help you explore and understand Korean vocabulary and its origins through Hanja.</p>
                                
                                <h3>How to Use this website:</h3>
                                <ol>
                                    <li><strong>Search a Word:</strong> Use the search bar to look up Korean words. You’ll get a list of related words, their meanings, and associated Hanja characters.</li>
                                    <li><strong>Discover Connections:</strong> Click on any result to expand and see additional related words with the same Hanja.</li>
                                    <li><strong>Interactive Learning:</strong> Explore detailed definitions and examples to deepen your understanding.</li>
                                </ol>
                                
                                <h3>Feedback & Suggestions</h3>
                                <p>If you have any suggestions, questions, or feedback, feel free to reach out at:</p>
                                <p><a href="mailto:tiphainejh@gmail.com" class="email-link">tiphainejh@gmail.com</a></p>
                                Happy learning! 😊
                            {% else %}
                                <h2>Bienvenue sur <span class="site-name">HanjaGetter</span> !</h2>
                                <p>Mon objectif est de vous aider à explorer et comprendre le vocabulaire coréen ainsi que ses origines à travers les Hanja.</p>
                                
                                <h3>Comment utiliser ce site :</h3>
                                <ol>
                                    <li><strong>Recherchez un mot :</strong> Utilisez la barre de recherche pour trouver des mots coréens. Vous obtiendrez une liste de mots associés, leurs significations et les caractères Hanja correspondants.</li>
                                    <li><strong>Découvrez les connexions :</strong> Cliquez sur un résultat pour l’étendre et voir d'autres mots liés partageant les mêmes Hanja.</li>
                                    <li><strong>Apprentissage interactif :</strong> Explorez les définitions détaillées et des exemples pour approfondir votre compréhension.</li>
                                </ol>
                                
                                <h3>Suggestions et retours</h3>
                                <p>Si vous avez des suggestions, des questions ou des retours, n'hésitez pas à me contacter à l'adresse suivante :</p>
                                <p><a href="mailto:tiphainejh@gmail.com" class="email-link">tiphainejh@gmail.com</a></p>
                                Happy learning! 😊
                            {% endif %}
                        </div>    
                        {% else %}
                            <div class="results-container">
                            <div class="korean-results">
                                <div class="result-item">{{ text_language.no_res }} "{{word}}".</div>
                                
                            </div></div>
                        {% endif %}
                    {% endif %}
                    
                {% endif %}

               
            </div>
        </div>
    </body>
    </html>
